<!DOCTYPE html>
<html>
  <head>
    <title>AllFCCinOne</title>
    <meta name="description" content="micro service">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
      <h1>
        Micro Time Services
      </h1>
    <h2>Just enter  time as below and get your answer</h2>
      
       <p>https://timestamp-ms.herokuapp.com/December%2015,%202015</p>
       <p> https://timestamp-ms.herokuapp.com/1450137600</p>
       
      <h2>And get your answer</h2>
      <p>{ "unix": 1450137600, "natural": "December 15, 2015" }</p>
    
      <h1>
        Request Header Parser Microservice
      </h1>
    
    <h2>Click link below and get your info</h2>
    <a href="https://somethingsome.glitch.me/api/whoami">http request parser</a>
  </body>
</html>
